<script>
  var c_editor = ace.edit("c_editor");
  c_editor.setTheme("ace/theme/twilight");
  c_editor.getSession().setMode("ace/mode/javascript");
  c_editor.setShowPrintMargin(false);
  c_editor.getSession().setUseWrapMode(true);
  c_editor.getSession().setUseWorker(false);
  document.getElementById('c_editor').style.fontSize = '15px';

  var notes_editor = ace.edit("notes-editor");
  notes_editor.setTheme("ace/theme/solarized_light");
  notes_editor.getSession().setMode("ace/mode/text");
  notes_editor.setShowPrintMargin(false);
  notes_editor.getSession().setUseWrapMode(true);
  notes_editor.renderer.setShowGutter(false);
  notes_editor.renderer.setOption('showLineNumbers', false);
  notes_editor.getSession().setUseWorker(false);
  document.getElementById('notes_editor').style.fontSize = '13px';
</script>