{% load staticfiles %}


<script src="{% static "global/vendor/ace/ace.js" %}"></script>
<script src="{% static "global/js/core.js" %}"></script>
<script src="{% static "assets/js/site.js" %}"></script>
<script src="{% static "global/js/components/panel.js" %}"></script>
<script src="{% static "assets/examples/js/uikit/panel-structure.js" %}"></script>
<script src="{% static "global/js/components/ace.js" %}"></script>
<script src="{% static "global/js/components/ace.js" %}"></script>


<script src="{% static "site/js/problem_page_scripts.js" %}"></script>
