<div class="col-xs-12 col-xlg-9 col-md-9">
  <div class="panel panel-bordered">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="btn-group vertical-align-middle">
          <button type="button" class="btn btn-default dropdown-toggle" id="exampleAnimationDropdown1" data-toggle="dropdown" aria-expanded="false">C (gcc-4.8)
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="exampleAnimationDropdown1" role="menu">
            <li><a href="#">C++11 (gcc-4.8)</a></li>
            <li><a href="#">Python (python-2.7)</a></li>
            <li><a href="#">Java 8 (oracle-jdk-1.8)</a></li>
          </ul>
        </div>
        <div class="pull-right btn-group vertical-align-middle">
          <button type="button" class="btn btn-default dropdown-toggle"
                id="exampleAnimationDropdown1" data-toggle="dropdown" aria-expanded="false">
                Theme <span class="caret"></span>
          </button>
          <ul id="theme-dropdown-menu" class="dropdown-menu">
            <li role="presentation"><a href="javascript:void(0)" id="twilight">Twilight</a></li>
            <li role="presentation"><a href="javascript:void(0)" id="monokai">Monokai</a></li>
            <li role="presentation"><a href="javascript:void(0)" id="chrome">Chrome</a></li>
            <li role="presentation"><a href="javascript:void(0)" id="xcode">X-Code</a></li>
            <li role="presentation"><a href="javascript:void(0)" id="crimson_editor">Crimson editor</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel-body" style="padding:0;">
      <div style="min-width:100%;">
        <pre class="ace-editor" id="c_editor" data-plugin="ace" data-mode="javascript" style="margin:0; min-height: 400px; padding: 0;">

        </pre>
      </div>
    </div>
    <div class="panel-footer">
      <div class="btn-group vertical-align-middle" aria-label="Basic example" role="group">
        <button type="button" class="btn btn-primary btn-default animation-hover animation-scale ">Save</button>
        <button type="button" class="btn btn-danger btn-default animation-hover animation-scale">Reset</button>
      </div>
      <div class="pull-right btn-group vertical-align-middle " aria-label="Basic example" role="group">
        <button type="button" class="btn btn-primary animation-hover animation-scale btn-default">&nbsp;&nbsp;Test&nbsp;&nbsp;</button>
        <button type="button" class="btn btn-danger  animation-hover animation-scale btn-default">Submit</button>
      </div>
    </div>
  </div>
</div>
