<div class="col-xs-12 col-xlg-9 col-md-9 col-sm-height">
  <div class="panel panel-bordered">
    <div class="panel-heading">
      <h3 class="panel-title">Reverse a Linked List</h3>
    </div>
    <div class="panel-body">
      
      <p> Suppose a sorted array is rotated at some pivot unknown to you beforehand.</p>
      <br/>
      <p> (i.e., <code>0 1 2 4 5 6 7</code> might become <code>4 5 6 7 0 1 2</code>).</p>
      <br/>
      <p> You are given a target value to search. If found in the array, return its index, otherwise return -1. </p>
      <p> You may assume no duplicate exists in the array.</p>
      For example if the input array is <code>[4 5 6 7 0 1 2]</code> and <code>target = 4</code>, the output will be <code>0</code> because <code>4</code> is found in position <code>0</code>.
    </div>
  </div>
</div>