{% load staticfiles %}

{% block stylesheets %}
<!-- load bootstrap -->
<link rel="stylesheet" href="{% static "global/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "global/css/bootstrap-extend.min.css" %}">
<link rel="stylesheet" href="{% static "assets/css/site.min.css" %}">


<link rel="stylesheet" href="{% static "global/vendor/ace/ace.css" %}">


<link rel="stylesheet" 
		href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">

<link rel="stylesheet" href="{% static "global/fonts/web-icons/web-icons.min.css" %}">
{% endblock %}