{% if submissionStatus.status == 'QE' %}
    <div class="col-xs-12 col-xlg-9 col-md-9">
      <div class="panel panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="text-warning">Compiling and running your solution..</span></h3>
          <div class="panel-actions">
            <span class="text-warning"><i style="" class="fa fa-spinner fa-spin" ></i></span>
          </div>
        </div>
      </div>
    </div>
{% endif %}

{% if submissionStatus.status == 'AC' %}
    <div class="col-xs-12 col-xlg-9 col-md-9">
      <div class="panel panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="text-success">All test cases passed.</span></h3>
          <div class="panel-actions">
            <i style="color:green" class="icon wb-check"></i>
          </div>
        </div>
      </div>
    </div>
{% endif %}

{% if submissionStatus.status == 'CE' %}
    <div class="col-xs-12 col-xlg-9 col-md-9">
      <div class="panel panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="text-danger">Compilation Error</span></h3>
          <div class="panel-actions">
            <a class="" data-toggle="panel-collapse" href="#">
              <i style="color:red" class="icon wb-alert-circle"></i>
            </a>
          </div>
        </div>
        <div class="panel-body">
          <div><pre>{{ submissionStatus.compilerErrorLog }}</pre>
        </div>
      </div>
    </div>

{% endif %}

{% if submissionStatus.status == 'TLE' %}
    <div class="col-xs-12 col-xlg-9 col-md-9">
      <div class="panel panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="text-danger">Time Limit Exceeded ..</span></h3>
          <div class="panel-actions">
            <a class="" data-toggle="panel-collapse" href="#">
              <i style="color:red" class="icon wb-bell"></i>
            </a>
          </div>
        </div>
        <div class="panel-body">
            Your solution has taken far more time to solve this test case.
          <div><pre>{{ submissionStatus.testCaseContent }}</pre>
        </div>
      </div>
    </div>

{% endif %}
