<p> You're given a singly linked list <code> 1 -> 2 -> 3</code>. </p>
<p> You have to reverse the linked list into <code> 3 -> 2 -> 1</code> .</p>
<br/>
<p> (i.e., <code>0 1 2 4 5 6 7</code> might become <code>4 5 6 7 0 1 2</code>).</p>
<br/>
<p> You are given a target value to search. If found in the array, return its index, otherwise return -1. </p>
<p> You may assume no duplicate exists in the array.</p>
For example if the input array is <code>[4 5 6 7 0 1 2]</code> and <code>target = 4</code>, the output will be <code>0</code> because <code>4</code> is found in position <code>0</code>.