<p>There are certain questions where the interviewer would intentionally frame the question vague.<br />
    The expectation is that you will ask the correct set of clarifications or state your assumptions before you jump into coding.</p>

<hr>
</div>
<div id="problem-content" class="blur markdown-content" style="position: relative">
    <p>Implement atoi to convert a string to an integer.</p>

    <p><strong>Example :</strong></p>

    <div class="highlighter-rouge"><pre class="highlight"><code>Input : "9 2704"
Output : 9
</code></pre>
    </div>

    <p><em>Note: There might be multiple corner cases here. Clarify all your doubts using “See Expected Output”.</em></p>

    <blockquote>
        <p><strong>Questions:</strong></p>

        <p><strong>Q1.</strong> Does string contain whitespace characters before the number?<br />
            <strong>A.</strong> Yes</p>

        <p><strong>Q2.</strong> Can the string have garbage characters after the number?<br />
            <strong>A.</strong> Yes. Ignore it.</p>

        <p><strong>Q3.</strong> If no numeric character is found before encountering garbage characters, what should I do?<br />
            <strong>A.</strong> Return 0.</p>

        <p><strong>Q4.</strong> What if the integer overflows?<br />
            <strong>A.</strong> Return INT_MAX if the number is positive, INT_MIN otherwise.</p>

    </blockquote>