<p>Compare two version numbers version1 and version2.</p>

<blockquote>
    <ul>
        <li>If version1 &gt; version2 return 1,</li>
        <li>If version1 &lt; version2 return -1,</li>
        <li>otherwise return 0.</li>
    </ul>
</blockquote>

<p>You may assume that the version strings are non-empty and contain only digits and the <code class="highlighter-rouge">.</code> character.<br />
    The <code class="highlighter-rouge">.</code> character does not represent a decimal point and is used to separate number sequences.<br />
    For instance, <code class="highlighter-rouge">2.5</code> is not <code class="highlighter-rouge">"two and a half"</code> or <code class="highlighter-rouge">"half way to version three"</code>, it is the fifth second-level revision of the second first-level revision.</p>

<p>Here is an example of version numbers ordering:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>0.1 &lt; 1.1 &lt; 1.2 &lt; 1.13 &lt; 1.13.4
</code></pre>
</div>