<p>Another question which belongs to the category of questions which are intentionally stated vaguely. <br />
    Expectation is that you will ask for correct clarification or you will state your assumptions before you start coding.</p>

<hr>
</div>
<div id="problem-content" class="blur markdown-content" style="position: relative">
    <p><strong>Implement strStr().</strong></p>

    <blockquote>
        <p>strstr - locate a substring ( needle ) in a string ( haystack ).</p>
    </blockquote>

    <p><strong>Try not to use standard library string functions for this question.</strong></p>

    <p>Returns the index of the first occurrence of needle in haystack, or <code class="highlighter-rouge">-1</code> if needle is not part of haystack.</p>

    <blockquote>
        <p><strong>NOTE:</strong></p>

        <p><strong>Good clarification questions:</strong></p>

        <ol>
            <li>
                <p>What should be the return value if the needle is empty?</p>
            </li>
            <li>
                <p>What if both haystack and needle are empty?</p>
            </li>
        </ol>

        <p>For the purpose of this problem, assume that the return value should be -1 in both cases.</p>
    </blockquote>