<p>Given an input string, reverse the string word by word.</p>

<p><strong>Example:</strong></p>

<p>Given s = <code class="highlighter-rouge">"the sky is blue"</code>,</p>

<p>return <code class="highlighter-rouge">"blue is sky the"</code>.</p>

<blockquote>
    <ul>
        <li>A sequence of non-space characters constitutes a word.</li>
        <li>Your reversed string should not contain leading or trailing spaces, even if it is present in the input string.</li>
        <li>If there are multiple spaces between words, reduce them to a single space in the reversed string.</li>
    </ul>
</blockquote>