<p>Given a string <code class="highlighter-rouge">s</code> consists of upper/lower-case alphabets and empty space characters <code class="highlighter-rouge">' '</code>, return the length of last word in the string.</p>

<p>If the last word does not exist, return <code class="highlighter-rouge">0</code>.</p>

<p><em>Note: A word is defined as a character sequence consists of non-space characters only.</em></p>

<p><strong>Example:</strong></p>

<p>Given <code class="highlighter-rouge">s = "Hello World"</code>,</p>

<p>return <code class="highlighter-rouge">5</code> as <code class="highlighter-rouge">length("World") = 5</code>.</p>

<p><em>Please make sure you try to solve this problem without using library functions. Make sure you only traverse the string once.</em></p>