<p>The count-and-say sequence is the sequence of integers beginning as follows:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>1, 11, 21, 1211, 111221, ...
</code></pre>
</div>

<p><code class="highlighter-rouge">1</code> is read off as <strong><code class="highlighter-rouge">one 1</code></strong> or <code class="highlighter-rouge">11</code>.<br />
    <code class="highlighter-rouge">11</code> is read off as <strong><code class="highlighter-rouge">two 1s</code></strong> or <code class="highlighter-rouge">21</code>.</p>

<p><code class="highlighter-rouge">21</code> is read off as <strong><code class="highlighter-rouge">one 2, then one 1</code></strong> or <code class="highlighter-rouge">1211</code>.</p>

<p>Given an integer n, generate the nth sequence.</p>

<p><em>Note: The sequence of integers will be represented as a string.</em></p>

<p><strong>Example:</strong></p>

<p>if <code class="highlighter-rouge">n = 2</code>,<br />
    the sequence is <code class="highlighter-rouge">11</code>.</p>