<p>Write a function to find the longest common prefix string amongst an array of strings.</p>

<p>Longest common prefix for a pair of strings S1 and S2 is the longest string S which is the prefix of both S1 and S2.</p>

<p>As an example, longest common prefix of <code class="highlighter-rouge">"abcdefgh"</code> and <code class="highlighter-rouge">"abcefgh"</code> is <code class="highlighter-rouge">"abc"</code>.</p>

<p>Given the array of strings, you need to find the longest S which is the prefix of <strong>ALL</strong> the strings in the array.</p>

<p><strong>Example:</strong></p>

<p>Given the array as:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>[

  "abcdefgh",

  "aefghijk",

  "abcefgh"
]
</code></pre>
</div>