<p>Given a string, find the rank of the string amongst its permutations sorted lexicographically. <br />
    Note that the characters might be repeated. If the characters are repeated, we need to look at the rank in unique permutations. <br />
    Look at the example for more details.</p>

<p><strong>Example :</strong></p>

<div class="highlighter-rouge"><pre class="highlight"><code>Input : 'aba'
Output : 2

The order permutations with letters 'a', 'a', and 'b' :
aab
aba
baa
</code></pre>
</div>