<p>Given an unsorted array, find the maximum difference between the successive elements in its sorted form.</p>

<p>Try to solve it in linear time/space.</p>

<p><strong>Example :</strong></p>

<div class="highlighter-rouge"><pre class="highlight"><code>Input : [1, 10, 5]
Output : 5 
</code></pre>
</div>

<p><strong>Return 0 if the array contains less than 2 elements.</strong></p>

<ul>
  <li>You may assume that all the elements in the array are non-negative integers and fit in the 32-bit signed integer range.</li>
  <li>You may also assume that the difference will not overflow.</li>
</ul>