<p>You are given an n x n 2D matrix representing an image.</p>

<p>Rotate the image by 90 degrees (clockwise).</p>

<p>You need to do this in place.</p>

<p>Note that if you end up using an additional array, you will only receive partial score.</p>

<p><strong>Example:</strong></p>

<p>If the array is</p>

<div class="highlighter-rouge"><pre class="highlight"><code>[
    [1, 2],
    [3, 4]
]
</code></pre>
</div>

<p>Then the rotated array becomes:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>[
    [3, 1],
    [4, 2]
]
</code></pre>
</div>