<p>Find out the maximum sub-array of non negative numbers from an array.<br />
The sub-array should be continuous. That is, a sub-array created by choosing the second and fourth element and skipping the third element is invalid.</p>

<p>Maximum sub-array is defined in terms of the sum of the elements in the sub-array. Sub-array A is greater than sub-array B if <code class="highlighter-rouge">sum(A) &gt; sum(B)</code>.</p>

<p><strong>Example:</strong></p>

<div class="highlighter-rouge"><pre class="highlight"><code>A : [1, 2, 5, -7, 2, 3]
The two sub-arrays are [1, 2, 5] [2, 3].
The answer is [1, 2, 5] as its sum is larger than [2, 3]
</code></pre>
</div>