

	<div class="" style="font-weight: lighter; padding:10px 4px;">
		<div class="accordion-heading">
			<a data-toggle="collapse" class="accordion-toggle" data-parent="#problems" href="#q1" style="font-size:15px;">Simple Data Structures</a>
		</div>
		<div class="collapse" id="q1" style="background-color:inherit; padding-left:13px;">
			<h6 style="font-weight: lighter;" class="problemtype" id="linkedlist">Linked Lists</h6>
			<h6 style="font-weight: lighter; " class="problemtype" id="stacksandqueues">Stacks And Queues</h6>
			<h6 style="font-weight: lighter;" class="problemtype"  id="tree">Trees</h6>
			<h6 style="font-weight: lighter;">Arrays</h6>
		</div>
	</div>

	<div class="" style="font-weight: lighter; padding:10px 4px;">
		<div class="accordion-heading">
			<a data-toggle="collapse" class="accordion-toggle" data-parent="#problems" href="#q2" style="font-size:15px;">Bot Building</a>
		</div>
		<div class="collapse" id="q2" style="background-color:inherit; padding-left:13px;">
			<h6 style="font-weight: lighter;">Bot Building</h6>
			<h6 style="font-weight: lighter;">Alpha Beta Pruning</h6>
		</div>
	</div>

	<div style="font-weight: lighter; padding:10px 4px;">
		<div class="accordion-heading">
			<a style="font-size:15px;" data-toggle="collapse" data-parent="#problems" class="accordion-toggle" href="#q3">A* Search</a>
		</div>
		<div class="collapse" id="q3" style="background-color:inherit; padding-left:13px;">
			<h6 style="font-weight: lighter;">Bot Building</h6>
			<h6 style="font-weight: lighter;">Alpha Beta Pruning</h6>
		</div>
	</div>
