{% load staticfiles %}

<!--  scripts to load ACE-Code Editor -->
<!--inline styles related to this page-->		

{% include 'header.html' %}
{% include 'navbar.html' %}


<style type="text/css">
	table#submission_details td {
		padding: 10px;
		font-size: 1.11em;
	}
	table#unitrun_details td {
		padding: 7px;
	}
</style>
<div id="background_container">
<div id="mainest_container">
<div class="row-fluid">
	<div class="span6">
		<h3 class="header smaller lighter blue">
			Verdict:
			{% if submission.status == "ACCEPTED" %}
			<span class="smaller lighter green"> {{ submission.status }} <i class="icon-thumbs-up"></i></span>
			{% else %}
			<span class="smaller lighter red">{{ submission.status }} <i class="icon-thumbs-down"></i> </span>
			{% endif %}
		</h3>
		<div class="">
		<table id="submission_details" class="table table-striped">
			<tbody>
				<tr>
					<td><strong>Problem:</strong></td>
					<td><a href="/problem/{{submission.problem.problem_id}}">{{ submission.problem.title }}</a></td>
				</tr>
				<tr>
					<td><strong>Time taken:</strong></td>
					<td>{{ submission.time_taken }} seconds</td>
				</tr>
				<tr>
					<td><strong>Language:</strong></td>
					<td>{{ submission.language }}</td>
				</tr>
				<tr>
					<td><strong>Submission time:</strong></td>
					<td>{{ submission.submission_time }}</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align:center">
						<a href="#">View my previous submissions for this problem</a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	<div class="span6">

		<h3 class="header smaller lighter blue">Test case runs</h3>

		<table class="table-striped table-hover" id="unitrun_details" style="width:400px">
			<tbody>
			{% for unitrun in unitruns %}
				<tr>
					<td>
						{% if submission.status == "ACCEPTED" %}
						<i class="icon-ok green"></i>
						{% else %}
						<i class="icon-remove red"></i>
						{% endif %}
					</td>
					<td><strong>#{{ unitrun.testcase_no }} </strong></td>
					<td>{{ unitrun.result }}</td>
					<td><i class="icon-time"></i> &nbsp;&nbsp; {{ unitrun.time_taken }}s </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
 </div>


<h3 class="header smaller lighter blue"><i class="icon-code"></i> Code view</h3>



{% autoescape off %}
<div id="editor-mask" >
	<div id="editor-container">
		<pre id="editor" style="height:600px;" class="ace_editor ace-tm ace_focus">{{ submission.source_code }}
		</pre>
	</div>
</div>


{% if submission.status == "COMPILATION_ERROR" %}
<hr>
<h3 class="header smaller lighter blue">Compiler error log</h3>
<div class="code_editor_container">
<pre id="compilatrion_error" class="code_editor ">
	{{ submission.compiler_error_log }}
</pre>
</div>
{% endif %}
{% endautoescape  %}
</div>
</div>
{% include 'scripts.html' %}
<script src="{% static "assets/ace/src-min-noconflict/ace.js" %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var editor = ace.edit("editor");
	editor.setShowFoldWidgets(false);
	editor.setShowPrintMargin(false);
	editor.setTheme("ace/theme/dreamweaver");
	editor.setReadOnly(true);
	document.getElementById('editor').style.fontSize='15px';
	var s = editor.getSession();
	s.setMode("ace/mode/c_cpp");
	s.setUseWrapMode(true);
	function setEditorHeight(){
		var lastLine = $("#editor .ace_gutter-cell:last");
		var neededHeight = lastLine.position().top + lastLine.outerHeight();
		$("#editor-mask").height(neededHeight);
	}
	$(window).on('resize', setEditorHeight);
//	setEditorHeight();
</script>

{% include 'footer.html' %}
